# env
python-dotenv

# Security
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart

# google login
httpx
authlib

# Web Server & Tunneling
fastapi
uvicorn
pyngrok
nest-asyncio

# AI & Deep Learning
torch
torchvision
insightface
onnxruntime-gpu  # NVIDIA GPU 사용 시 (CPU 환경이면 onnxruntime으로 변경)

# Image & Video Processing
opencv-python
numpy
PyWavelets
Pillow

# Visualization & Utilities
matplotlib
pyyaml

# DB
sqlalchemy
psycopg2-binary

# AWS S3
boto3

# Scheduler
APScheduler

# 이메일
pydantic[email]

# Redis
redis

# Task Queue
taskiq
taskiq-fastapi
taskiq-redis